a {
    color: #0000cc;
}

body {
    margin: auto;
    width: 800px;
}

h1 {
    border-bottom-style: solid;
    border-bottom-width: 1px;
    color: #0000dd;
    font-size: xx-large;
    width: 100%;
}

h2 {
    color: #0000cc;
    font-size: x-large;
    font-variant: small-caps;
}

h3 {
    color: #0000ee;
    font-size: large;
    font-style: italic;
}

pre {
    border-color: #0000cc;
    border-style: solid;
    border-width: 1px;
    padding: 5px;
}

pre.borderTopBottom {
    border-width: 0px;
    border-bottom-color: #0000cc;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-top-color: #0000cc;
    border-top-style: solid;
    border-top-width: 1px;
    padding: 5px;
}

th {
    color: #0000cc;
}
